<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue-todo</title>
    <script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="newTodoText" @keyup.enter="addNewTodo" placeholder="Add a todo">
        <ul>
            <!-- <li is="todo-item" -->
            <todo-item 
               v-for="(todo, index) in todos" 
               :key="todo.id"
               :title="todo.title" 
               @remove="removeit">
            </todo-item>
            <!-- </li> -->
        </ul>
    </div>
    <script>
    // Vue.component('TodoItem', { // todo-item 也是可以的
    // props: ['title'],
    // template: `<li>{{ title }}<button @click="$emit('remove')">X</button></li>`
    // });
    var TodoItem = {
        props: ['title'],
        template: `<li>{{ title }}<button @click='delit'>X</button></li>`,
        methods: {
            delit:function () {  // 修改上述@click='delit',当处理函数为delete时为什么无反应？
                console.log(this);
                this.$emit('remove')
            }
        }
    };
    new Vue({
        el: '#app',
        data: {
            newTodoText: '',
            nextTodoId: 4,
            todos: [{
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ]
        },
        components: {
            TodoItem
        },
        methods: {
            addNewTodo() {
                if (this.newTodoText == '') {
                    this.newTodoText = 'Please add something...'
                }
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                });
                this.newTodoText = ''
            },
            removeit(index) {  // 注意无参数时出错,@remove="removeit"父组件可以没有参数
            // @remove="todos.splice(index, 1)">修改为@remove="removeit"
               console.log(this);
               this.todos.splice(index, 1)
            }
        }
    })
    </script>
</body>

</html>
