<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>custom</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="demo">
        <p v-for="msg in lists">{{ msg }}</p>
        <button-message @custom="handleMessage"></button-message>
    </div>
    <script>
        Vue.component('button-message', {
            template: `<div>
                        <input type="text" v-model="message"/>
                        <button @click="handleSendMessage">Send</button>
                       </div>`,
            data() {
                return {
                    message: 'test message'
                }
            },
            methods: {
                handleSendMessage() {
                    this.$emit('custom', { infomation: this.message }),
                        this.message = ''
                }
            }
        })

        new Vue({
            el: '#app',
            data: {
                lists: []
            },
            methods: {
                handleMessage(payload) {
                    this.lists.push(payload.infomation)
                }
            }
        })
    </script>
</body>

</html>
