<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue入门</title>
    <style type="text/css">
    *{
        margin: 0;padding: 0;
    }
    ul{
        list-style-type: none;
        font-size: 18px;
    }
    button,
    input {
        width: 300px;
        height: 40px
    }
    li{
        margin: 10px
    }
    span{
        font-size: 22px;
        background-color: gray;
        display: inline-block; 
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div>
            <h3>父组件与子组件的通信</h3>
            <input v-model="inputValue" />
            <button @click="handleSubmit">提交</button>
            <ul>
                <todo-item v-for="(item,index) of list" :key="index" :content="item" :index="index" @delete="handleDelete">
                </todo-item>
            </ul>
        </div>
    </div>
    <script>
        var TodoItem = {
            props:['content','index'],
            template: '<li @click="handleClick">{{content}}点击删除<span>×</span></li>',
            methods: {
                handleClick: function() {

                    console.log(this); // VueComponent
                    this.$emit('delete', this.index)  // 向外发布自定义事件delete
                }
            }

        };

    // 2019.01.05 修改 @delete="handleDelete"改为@click.native = "handleDelete(index)",删除子组件的方法
    // Vue.component('todo-item', {
    //     // props:['content','index'], // 与下面等效
    //     props: {
    //         content: {
    //             type: ''
    //         },
    //         index: {
    //             type: Number
    //         }
    //     },
    //     template: '<li @click="handleClick">{{content}}点击删除×</li>',
    //     methods: {
    //         handleClick: function() {

    //             console.log(this); // VueComponent
    //             this.$emit('delete', this.index)  // 向外发布自定义事件delete
    //         }
    //     }
    // });

   new Vue({
        el: "#root",
        data: {
            inputValue: "",
            list: [1, 2, 3, 'a', 'b', 'c', 'd']
        },

        methods: {
            handleSubmit: function() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleDelete: function(index) {
                console.log(this); // Vue
                this.list.splice(index, 1)
            }
        },
        components:{
            TodoItem
        }
    })
    </script>
</body>

</html>
