<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="todo-list-example">
        <input
        v-model="newTodoText"
        @keyup.enter="addNewTodo"
        placeholder="Add a todo">
        <ul>
            <li
            is="todo-item"
            v-for="(todo, index) in todos"
            :key="todo.id"
            :index="index"
            :title="todo.title"
            @remove="del"></li>
        </ul>
    </div>
    <script>
    var TodoItem =  {
        template: '<li>{{ title }}<button @click="remov">X</button></li>',
        props: ['title','index'],
        methods:{
            remov (index) {
                this.$emit('remove',this.index)
                console.log(this.$root.parent)
            }
        }
    };

    new Vue({
        el: '#todo-list-example',
        data: {
            parent:'任何子组件通过$root直接拿到根实例数据',
            newTodoText: '',
            todos: [{
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            },
            del (index) {
                this.todos.splice(index, 1)
            }
        },
        components:{
            TodoItem
        }
    })
    </script>
</body>

</html>
